<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    
    
     



    <!-- Define your beans here -->

    <bean id="myCoachVolleyball" class="InversionOfControlWithXmlConfig.VolleyballCoach"></bean>
   
   <!-- DependencyInjectionWithConstructorInjection paketi için tanımlamalar -->
   
   <!-- define dependency class -->
   <bean id="myFortune"
         class="DependencyInjectionWithConstructorInjection.HappyFortuneService"></bean>
   
   
   <bean id="myCoach"
         class="DependencyInjectionWithConstructorInjection.VolleyballCoach">
         <!-- set up constructor injection -->
         <constructor-arg ref="myFortune"></constructor-arg>
         </bean>
    <bean id="myCoachForTrack"
         class="DependencyInjectionWithConstructorInjection.TrackCoach">
         <!-- set up constructor injection -->
         <constructor-arg ref="myFortune"></constructor-arg>
         </bean>
    <!-- DependencyInjectionWithSetterInjection paketi için tanımlamalar -->
      <bean id="myFortuneService"
         class="DependencyInjectionWithSetterInjection.HappyFortuneService"></bean>
    
    
    
       <bean id="myCricketCoach"
             class="DependencyInjectionWithSetterInjection.CricketCoach">
             <!-- set up setter injection -->
             <property name="fortuneService" ref="myFortuneService"></property>
             </bean>
             
</beans>





